<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Pedido #{{ pedido?.id.substr(0,8) }}</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col><h3>#{{ pedido?.id.substr(0,8) }}</h3></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><h5>Data da compra:</h5></ion-col>
        <ion-col><h5>{{ pedido?.dataDaCompra | date:'dd/MM/yyyy HH:mm' }}</h5></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><h5>Endereço de entrega:</h5></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
        <ion-card-content>
        <p>{{ pedido?.endereco?.nome }}</p>
        <p>{{ pedido?.endereco?.logradouro }}, {{ pedido?.endereco?.numero }} - {{ pedido?.endereco?.complemento }}</p>
        <p>{{ pedido?.endereco?.bairro }}, {{ pedido?.endereco?.cidade }} - {{ pedido?.endereco?.estado }}</p>
        <p>{{ pedido?.endereco?.cep }}</p>
        </ion-card-content>
    </ion-card>
    <h5>Produtos:</h5>
    <ion-card *ngFor="let produto of pedido?.itemPedidos">
        <ion-card-content>
            <h6>{{ produto?.nome }} {{ produto?.quantidade }}x {{ produto?.preco | currency:"BRL" }}</h6>
        </ion-card-content>
    </ion-card>
    <ion-item *ngIf="total() > 0">
        <h5>Total</h5>
        <h4 item-end>{{total() | currency:"BRL"  }}</h4>
      </ion-item>
      <h5>Status da entrega:</h5>
      <ion-list *ngFor="let entrega of pedido?.rastreios">
       <p>{{ entrega?.entrega }} {{ entrega?.data | date:'dd/MM/yyyy HH:mm:ss'}}</p>
      </ion-list>
</ion-content>
